.banner-2 {
    border-bottom: 0.6rem solid #111;
}

.banner-2 .box {
    margin: 4rem 0;
}

.banner-2 .box .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-2 .box .heading p {
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    padding: 15px 0;
    padding-bottom: 20px;
}

.banner-2 .box .search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner-2 .box .search input {
    font-size: 16px;
    border: 1px solid #8c8c8c;
    outline: none;
    color: #000;
    border-radius: 2px;
    padding: 10px 10px 0 10px;
    min-width: 400px;
    height: 60px;
    align-items: center;
}

.banner-2 .box .search a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.1px;
    border-radius: 2px;
    background: #e50914;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .45);
    font-size: 1.625rem;
    line-height: 60px;
    min-width: 180px;
    padding: 0 30px;
}