.list {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.list h1 {
    font-size: 2.5rem;
    color: #fff;
    padding: 3rem 0 4rem 0;
}

.title {
    background: #303030;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
}

.icon {
    width: 20px;
    position: relative;
}

.icon::before, .icon::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background: #fff;
    top: -1.5px;
}

.icon::after {
    transform: rotate(90deg);
    transition: .5s linear;
}

.text {
    background: #303030;
    color: #fff;
    line-height: 35px;
    margin: 3px 0;
    opacity: 0;
    height: 0;
    font-size: 1.7rem;
    font-weight: 400;
    text-decoration: none;
}

.item:target .text {
    opacity: 1;
    height: auto;
    padding: 20px 30px;
    margin: 0;
    border-top: 2px solid #000;
    margin-bottom: 6px;
}

.item:target .icon::after {
    transform: rotateY(90deg);
}