.parte-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 4rem;
    border-bottom: 0.6rem solid #111;
}

.parte-1 .talk {
    width: 40%;
}

.parte-1 .talk h1 {
    font-size: 3.3rem;
    letter-spacing: 2px;
    padding-bottom: 10px;
    color: #fff;
}

.parte-1 .talk p {
    font-size: 1.7rem;
    color: #fff;
}

.parte-1 .img {
    width: 45%;
}

.parte-1 .img img {
    width: 100%;
}